<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CourseManagerController</servlet-name>
        <servlet-class>Controller.CourseManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileController</servlet-name>
        <servlet-class>Controller.ChangeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleChangeController</servlet-name>
        <servlet-class>Controller.RoleChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerController</servlet-name>
        <servlet-class>Controller.UserManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatusChangeController</servlet-name>
        <servlet-class>Controller.UserStatusChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewController</servlet-name>
        <servlet-class>Controller.QuizReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizGenerateController</servlet-name>
        <servlet-class>Controller.QuizGenerateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizViewScoreController</servlet-name>
        <servlet-class>Controller.QuizViewScoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectManagerController</servlet-name>
        <servlet-class>Controller.SubjectManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionManagerController</servlet-name>
        <servlet-class>Controller.QuestionManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajaxdemo</servlet-name>
        <servlet-class>Controller.Ajaxdemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryExpertController</servlet-name>
        <servlet-class>Controller.LibraryExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetail</servlet-name>
        <servlet-class>Controller.SubjectDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsernameController</servlet-name>
        <servlet-class>Controller.SearchUsernameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollCourse</servlet-name>
        <servlet-class>Controller.EnrollCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoCourse</servlet-name>
        <servlet-class>Controller.GotoCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeProfileController</servlet-name>
        <url-pattern>/ChangeProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleChangeController</servlet-name>
        <url-pattern>/RoleChangeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerController</servlet-name>
        <url-pattern>/UserManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatusChangeController</servlet-name>
        <url-pattern>/UserStatusChangeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCourseCategory</servlet-name>
        <servlet-class>Controller.FilterCourseCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourse</servlet-name>
        <servlet-class>Controller.SearchCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourseController</servlet-name>
        <servlet-class>Controller.DetailCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCourseCategory</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourse</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourseController</servlet-name>
        <url-pattern>/DetailCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewController</servlet-name>
        <url-pattern>/QuizReviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizGenerateController</servlet-name>
        <url-pattern>/QuizGenerateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizViewScoreController</servlet-name>
        <url-pattern>/QuizViewScoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseManagerController</servlet-name>
        <url-pattern>/CourseManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectManagerController</servlet-name>
        <url-pattern>/SubjectManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionManagerController</servlet-name>
        <url-pattern>/QuestionManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajaxdemo</servlet-name>
        <url-pattern>/Ajaxdemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryExpertController</servlet-name>
        <url-pattern>/LibraryExpertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetail</servlet-name>
        <url-pattern>/SubjectDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsernameController</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollCourse</servlet-name>
        <url-pattern>/EnrollCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoCourse</servlet-name>
        <url-pattern>/GotoCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
