/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 4, 2022, 8:23:04 AM
    Author     : ducda
*/
*{
    margin: 0;
    padding: 0;
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
}
#topProfile{
    display: flex;
    margin-left: 150px;
    padding-top: 20px;
}
.profileName {
    margin-top: 10px;
    margin-left: 10px;
}

.contentLogin{
    display: flex;
}

.right{
    width: 40%;
    margin-left: 100px;
}

.right input{
    display: block;
}



.nameTitle {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.nameTitle a {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: none;
}

.infoUser input{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-bottom: 2px black solid;
    padding-left: 10px;
}

.left{
    width: 60%;
    background-image: url('../Img/login.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 50%;
    height: 745px;

}

.infoUser button{
    width: 500px;
    height: 50px;
    margin-top: 20px;
    background-color: #3ccfcf;
    border: none;
    color: white;
    border-radius: 5px;

}
.infoUserR button{
    width: 500px;
    height: 50px;
    margin-top: 20px;
    background-color: #3ccfcf;
    border: none;
    color: white;
    border-radius: 5px;

}
.infoUserR input{
    width: 80%;
    height: 50px;
    margin-top: 5px;
    padding-left: 10px;
    border: 2px black solid;
    border-radius: 5px;
}
.infoUserR input:focus{
    border: 2px orange solid;
    outline: none;
}

.infoUserR p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: initial;
    color: #939bb4;
}

a{
    text-decoration: none;
    margin-left: 5px;
    margin-top: 15px;
}


.infoUserR .sendLogin{
    display: flex;
    border: 1px black solid;
    width: 500px;
    padding: 10px 0;
    margin: 30px 0 0 0;
    border-radius: 5px;
    justify-content: center; 
}

.infoUser .sendR{
    display: flex;
    border: 1px black solid;
    width: 500px;
    padding: 10px 0;
    margin: 30px 0 0 0;
    border-radius: 5px;
    justify-content: center; 
}




